<!--<div class="container text-center">
    <h1>About Page</h1>
    <p>Welcome to //SandBox// Laboratory.  We are dedicated to 1-1 and group Computer Science education.  From the first steps in game design to building enterprise applications,
    we believe that students benefit greatly from early exposure to technology.</p>
    <p>"The mind is not a vessel to be filled but a fire to be kindled."</p>
    <p>-Plutarch</p>
</div>-->
<!--<div class="jumbotron container-fluid text-white rounded bg-dark">
        <div class="col-md-10">
          <p><h1>Welcome to <span style="color:#004e92">//SandBox//</span> Laboratory</h1></p>
          <p class="lead my-3">We are dedicated to 1-1 and group Computer Science education.  From the first steps in game design to building enterprise applications,
    we believe that students benefit greatly from early exposure to technology.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
</div>-->

<div class="about-callout">
  <div class="container">
    <div class="row mh1">
    </div>
    <div class="row bm1">
      <div class = "col-sm-2">
      <i class="fas fa-chess-rook text-white ico-lg"></i>
      </div>
      <div class = "col-sm-10">
        <h1 class="header-gradient">Welcome to <span style="color:#1d85e0">//SandBox//</span> Laboratory</h1>
        <p class="lead my-3">We are dedicated to 1-1 and group Computer Science education.  From the first steps in game design to building enterprise applications,
        we believe that students benefit greatly from early exposure to technology. 
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#aboutbegin" role="button">Continue Reading</a>
        </p>
        
      </div>
   </div>
  </div>
</div>
<div class="container">
    <div id="aboutbegin" class="page-header">
        <h1 id="panelbegin" class="emph-blue text-center">About Me</h1>
    </div>
  <div class="row bm1">
    <div class="col-sm-3">
       <%= image_tag("fish.trans.png",
                    alt: "Image description 1",
                    class: "img-responsive") %>
    </div>
    <div class="col-sm-9">
      <p class="copy-black">
        Hi there!  My name is Tim McGuigan and I am a middle school educator, writer, computer programmer, reader, tinkerer, explorer, and father of two.  Growing up in
        the age of Samuel Papert, the Apple IIe, and Logo gave me an early exposure to technology, gaming, and programming.  
      </p>
      <p class="copy-black">
        Following my passions, I studied both English
        and Computer Science at the University of Pittsburgh and worked at software development firms during the dot com boom.  After a few years of travel and adventure in Hawaii,
        I earned my Masters in Teaching at the University of Pittsburgh working as an English teacher in both public and private schools. Since 2013 I have worked at Shady Side 
        Academy Middle School as a Computer Science teacher.
      </p>  
      <p class="copy-black">
        In 2017, I began writing a regular column in Beanz Magazine, a journal for young Computer programmers and enthusiasts.
        I started Sandbox Laboratory in 2018 in part to expose bright and inspiring young students to the power of building their own games, websites, and mobile apps. 
      </p>
      <p class ="copy-black">
        In my experience, many young people today are hyperfocused on technology, but ultimately remain end-users. One of my main goals
        is to foster a curiosity for making, building, and doing in students.  When students learn how to build computers, websites, games, and apps, they learn how to create and innovate.  This is a skill that will be invaluable to them in the future, and it's never too early to start!
      </p>
    </div>
  </div>
</div>

