<!--<div class="container text-center">
    <h1>About Page</h1>
    <p>Welcome to //SandBox// Laboratory.  We are dedicated to 1-1 and group Computer Science education.  From the first steps in game design to building enterprise applications,
    we believe that students benefit greatly from early exposure to technology.</p>
    <p>"The mind is not a vessel to be filled but a fire to be kindled."</p>
    <p>-Plutarch</p>
</div>-->
<!--<div class="jumbotron container-fluid text-white rounded bg-dark">
        <div class="col-md-10">
          <p><h1>Welcome to <span style="color:#004e92">//SandBox//</span> Laboratory</h1></p>
          <p class="lead my-3">We are dedicated to 1-1 and group Computer Science education.  From the first steps in game design to building enterprise applications,
    we believe that students benefit greatly from early exposure to technology.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
</div>-->

<div class="about-callout">
  <div class="container">
    <div class="row mh1">
    </div>
    <div class="row bm1">
      <div class = "col-sm-2">
    <%= image_tag("rook.png",
                    alt: "Sandbox Logo",
                    class: "img-responsive") %>
      </div>
      <div class = "col-sm-10">
        <h1 class="header-gradient">Welcome to <span style="color:#1d85e0">//SandBox//</span> Laboratory</h1>
        <p class="lead my-3">We are dedicated to 1-1 and group Computer Science education.  From the first steps in game design to building enterprise applications,
        we believe that students benefit greatly from early exposure to technology.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
  </div>

</div>

