<!--<div class="home-callout text-center container-fluid">
    <h1>Welcome to //SandBox// Laboratory</h1>
    <h4>A website site for young dreamers, coders, gamers, and designers...</h4>
</div> -->
<!--<script>
  $(function(){
    $('.carousel').carousel({
      interval: 6000
    });
});
</script>-->
    
<div id="myGallery" class="carousel slide" data-interval="false">
 <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("sample.one.jpg",
                    alt: "Image description 1",
                    class: "img-responsive") %>
        <div class="carousel-caption">
          <h3>Sample One</h3>
          <p>Here is Sample Image One</p>
        </div>
    </div>
    <div class="item">
      <%= image_tag("sample.two.jpg",
                    alt: "Image description 2", 
                    class: "img-responsive") %>
        <div class="carousel-caption">
          <h3>Sample Two</h3>
            <p>Here is Sample Image Two</p>
        </div>
    </div>
    <div class="item">
      <%= image_tag("sample.three.jpg",
                    alt: "Image description 3", 
                    class: "img-responsive") %>
        <div class="carousel-caption">
          <h3>Sample Three</h3>
            <p>Here is Sample Image Three</p>
        </div>
    </div>
    

    <!--Begin Previous and Next buttons-->
      <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
        href="#myGallery" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!--end carousel-->
    

<!-- Services section -->
	<section id="what-we-do">
		<div class="container">
			<!-- <h2 class="section-title mb-2 h1">What we do</h2>-->
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Game Design</h3>
							<p class="card-text">From Scratch to PyGame, building engaging games to share is a blast and we can help.</p>
							<a href="/gamedesign" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">CS Tutoring</h3>
							<p class="card-text">Beginning with course enrichment and leading up to AP Computer Science, we can help get you there.</p>
							<a href="/cstutoring" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Early Coders</h3>
							<p class="card-text">When it comes to building a love of computers and coding technology, it is never to early to begin.</p>
							<a href="/earlycoders" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Raspberry Pi Builds</h3>
							<p class="card-text">Cheap and powerful - the Raspberry Pi is a kit computer for the modern world.  Learn about the power a $35 computer brings.</p>
							<a href="/builds" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Mobile App Design</h3>
							<p class="card-text">Starting from the ground up, building web applications and mobile apps is within your reach.</p>
							<a href="/mobileapps" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Web Design</h3>
							<p class="card-text">From HTML 5 and Javascript to building beautiful webpages with Bootstrap, the power of the web can be in your hands.</p>
							<a href="/webdesign" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- /Services section -->
	
	<div class="container">
    <center>
    <blockquote class="quote-box">
      <p class="quotation-mark">
        “
      </p>
      <p class="quote-text">
        The mind is not a vessel to be filled, but a fire to be kindled. 
      </p>
      <hr>
      <div class="blog-post-actions">
        <p class="blog-post-bottom pull-left">
          - Plutarch
        </p>
      </div>
    </blockquote>
    </center>
</div>