/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 //Background Gradient
 .navbar, .about-callout, .gradient-bkg {
     //Gradient provided by https://twitter.com/_ighosh
     background: #000428;  /* fallback for old browsers */
     background: -webkit-linear-gradient(left, #004e92, #000428);
     background: -moz-linear-gradient(left, #004e92, #000428);
     background: -o-linear-gradient(left, #004e92, #000428);
     background: linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
 
  
//Navbar Styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
    color: white;
    &:hover {
        color: white;
        opacity: 0.5;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}


.navbar-default .navbar-toggle {
   border: 2px solid white;
   &:hover, &:focus {
   background-color:#00e2e2;
}
}

//topography styles
h1,h2,h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    color: white;
}

.emph {
    font-family: 'Oleo Script', cursive;
    font-size: 500%;
}

.emph-blue {
    font-family: 'Oleo Script', cursive;
    font-size: 500%;
    color:#000428;
}

.navbar {
    border: none;
    color: white;
    margin-bottom: 0px;
}

.navbar-right {
    margin-right: 0;
}

//Contact New Styles
.well {
    background: #80c3ff;
}


.form-line {
    border-right: 1px solid #B29999;
}
//Homepae Styles
.home-callout {
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
}

.carousel {
    margin-bottom: 4rem;
}

.top-buffer { margin-top:20px; }

//About Page Styles
.text-white {
    color: #fff;
}

.ico-lg {
    font-size: 1000%;
    float: right;
}
.p-3 {
    padding: 20px;
}
.rounded {
    border-radius: 1px;
}
.bg-dark {
    background-color: #343a40;
}
.jumbotron {
    background-color: #cedddd;
}

.logo-blue {
    color:#004e92;
}

.header-gradient {
    margin-top: 0px;
}

.my-3 {
    color:white;
}

.mh1 {
    height:50px;
}

.mh2 {
    height:80px;
}

.bm1 {
    margin-bottom:20px;
}

.top-buffer { 
    margin-top:20px; 
}

/**********************
/***** Services *******
/*********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
	padding: 10px 0;
}
section .section-title{
	text-align:center;
	color:#fff;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
     //Gradient provided by https://twitter.com/_ighosh
     background: #000428;  /* fallback for old browsers */
     background: -webkit-linear-gradient(left, #004e92, #000428);
     background: -moz-linear-gradient(left, #004e92, #000428);
     background: -o-linear-gradient(left, #004e92, #000428);
     background: linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#what-we-do .card-text {
    color:#fff;
}

#what-we-do .card-title {
    color:#00e2e2;
}

#what-we-do .read-more:hover {
    color:#00e2e2;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #fff !important;
	font-weight:700;
	text-decoration:none;
}

#what-we-do .card .card-block a:hover{
	color:#00e2e2  !important;

}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	color:#00e2e2;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #fff;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f19d";
    font-size: 30px;
}
#what-we-do .card .block-3:before{
    content: "\f1b0";
}
#what-we-do .card .block-4:before{
    content: "\f0a0";
}
#what-we-do .card .block-5:before{
    content: "\f10b";
}
#what-we-do .card .block-6:before{
    content: "\f121";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

//Scroll Top Wrapper
.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
//BlockQuote 

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #1d85e0;
    margin-top: 25px;
    color:white;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}

.quotation-mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}

//Copy Panels
.panel
{
    position: relative;
}

.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}