/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 //Background Gradient
 .navbar, .home-callout {
     //Gradient provided by https://twitter.com/_ighosh
     background: #000428;  /* fallback for old browsers */
     background: -webkit-linear-gradient(left, #004e92, #000428);
     background: -moz-linear-gradient(left, #004e92, #000428);
     background: -o-linear-gradient(left, #004e92, #000428);
     background: linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
 
//Navbar Styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
    color: white;
    &:hover {
        color: white;
        opacity: 0.5;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}


.navbar-default .navbar-toggle {
   border: 2px solid white;
   &:hover, &:focus {
   background-color:#D76D77;
}
}

//topography styles
h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    border: none;
    color: white;
    margin-bottom: 0px;
}

.navbar-right {
    margin-right: 0;
}

//Contact New Styles
.well {
    background: #80c3ff;
}

//Homepae Styles
.home-callout {
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
}

.carousel {
    margin-bottom: 4rem;
}

.top-buffer { margin-top:20px; }

//About Page Styles
.text-white {
    color: #fff;
}
.p-3 {
    padding: 20px;
}
.rounded {
    border-radius: 1px;
}
.bg-dark {
    background-color: #343a40;
}
.jumbotron {
    margin-bottom: 20px;
}

.logo-blue {
    color:#004e92;
}